.carousel-slider {
  height: 100% !important;
  max-height: calc(100vh - 84px) !important;
}
.axis-horizontal {
  height: 100% !important;
  max-height: calc(100vh - 84px) !important;

}
ul.slider {
  height: 100% !important;
  max-height: calc(100vh - 84px) !important;

}
